extends base/_layout
block head
    title Главная
block page
    +hero({
        title: 'Построй карьеру в экспертной группе Veta',
        text: 'С 1999 года мы проводим оценку, финансово-экономические и строительно-технические экспертизы — как судебные, так и досудебные. Поэтому мы знаем все об использовании экспертизы в спорах — когда она эффективна и полезна, и как правильно её провести.',
        href: '#',
        linkText: 'Построить карьеру',
        src: './images/wolf-one.png'
    })
    +search-employees({
        title: 'Ищем сотрудников, которые хотят и могут работать в команде',
        items: [
            {
                title: 'Студентам',
                text: 'Оплачиваемая стажировка,<br> отзывчивая команда, гибкий график',
                href: '#',
                linkText: 'Узнать о стажировке',
                src: './images/card-one.png'
            },
            {
                title: 'Профессионалам',
                text: 'Карьерный рост, участие<br> в конференциях и исследованиях',
                href: '#',
                linkText: 'Узнать о работе',
                src: './images/card-two.png'
            }
        ]
    })
    +about({
        title: 'Кто мы такие',
        text: 'Мы работаем в В2В секторе: сотрудничаем с крупными компаниями и арбитражными судами. Наши ведущие направления деятельности — оценка, профессиональные экспертизы в области экономики, строительства и техники.',
        href: '#',
        linkText: 'Узнать больше о Veta',
        items: [
            {
                title: 'Помогаем:',
                items: [
                    {
                        text: 'выигрывать судебные споры'
                    },
                    {
                        text: 'эффективно управлять имуществом'
                    },
                    {
                        text: 'разрешать конфликты с выгодой'
                    }
                ]
            },
            {
                title: 'Оцениваем:',
                items: [
                    {
                        text: 'бизнес, сделки и активы'
                    },
                    {
                        text: 'убытки и упущенную выгоду'
                    },
                    {
                        text: 'недвижимость и оборудование'
                    }
                ]
            }
        ]
    })
    +work-in-group({
        title: 'Работа в экспертной группе Veta — это',
        items: [
            {
                icon: 'document',
                title: 'Официальное трудоустройство',
                text: 'Оформляем на работу по Трудовому кодексу с полностью «белой» зарплатой.',
            },
            {
                icon: 'hands',
                title: 'Помощь для всех',
                text: 'Помогаем с трудоустройством людям с ограниченными возможностями. Поддерживаем инклюзивную среду.',
            },
            {
                icon: 'star',
                title: 'Профессиональное развитие',
                text: 'Обучаем в собственной школе, помогаем в профессиональном росте и развитии. У нас инициатива не наказуема, а поощряема. Предоставляем все возможности для вертикального и горизонтального карьерного роста.',
            },
            {
                icon: 'shield',
                title: 'Уверенность в завтрашнем дне',
                text: 'Работаем с 1999 года, поэтому можем обеспечить вашу стабильность.',
            }
        ],
        blue: true
    })
    +request-form({
        title: 'Расскажите о себе',
        items: [
                {
                    type: 'text',
                    name: 'name',
                    placeholder: 'Как вас зовут'
                },
                {
                    type: 'tel',
                    name: 'phone',
                    placeholder: 'Ваш телефон'
                },
                {
                    type: 'email',
                    name: 'email',
                    placeholder: 'Ваш email'
                },
            ],
            selectTitle: 'Кто вы',
            options: [
                {
                    value: 'Студент'
                },
                {
                    value: 'Профессионал'
                }
            ],
            textareaPlaceholder: 'О себе',
            checkboxText: 'Соглашаюсь на <a href="#">обработку персональных данных</a>',
            buttonText: 'Отправить',
    })