extends base/_layout
block head
    title Стажировка
block page
    +hero({
        title: 'Стажировка в Veta —первый шаг в карьере под чутким руководством',
        text: 'Оплачиваемая стажировка для студентов экономических, юридических и технических специальностей. Только закончили институт или аспирантуру? Вы нам тоже подходите!',
        href: '#',
        linkText: 'Построить карьеру',
        src: './images/wolf-two.png'
    })
    +important({
        title: 'Нам важно, чтобы вы',
        items: [
            {
                text: 'Были готовы общаться: с наставником, коллегами, клиентами.'
            },
            {
                text: 'Были аккуратны и внимательны при работе с информацией.'
            },
            {
                text: 'Были ответственным: готовы учиться, доводить дело до конца и самостоятельно принимали решения.'
            },
        ],
        href: '#',
        linkText: 'Узнать больше о стажировке',
        src: './images/telescope.png',
    })
    +work-in-group({
        title: 'Не бойтесь пробовать',
        description: [
            {
                text: 'Команда профессионалов поможет пройти через первые ошибки, научит работать с высокой точностью и скоростью.'
            },
            {
                text: 'Верьте в свои силы, а мы обеспечим:'
            },
        ],
        text: 'По итогам стажировки совместно принимаем решение о дальнейшем карьерном развитии в компании.',
        items: [
            {
                icon: 'document',
                title: 'Обучение',
                text: 'Первые 2 месяца стажёры проходят обучение от специалистов и экспертов компании, применяют знания на учебных практических задачах. В будущем у сотрудников есть возможность повышать свою квалификацию и обучаться по дополнительным программам (за счёт компании).',
            },
            {
                icon: 'like',
                title: 'Гибкий график',
                text: 'Не нужно пропускать учёбу. Составим индивидуальный график, чтобы не только комфортно стажироваться и получать новые знания, но и не забывать о личной жизни.',
            },
            {
                icon: 'search',
                title: 'Опыт в экспертизе и оценке',
                text: 'За 4 месяца на должности «интерн» вы примете участие в интересных, порой трудных, делах. На практике увидите и попробуете все то, что в теории объясняют преподаватели.',
            },
            {
                icon: 'hands',
                title: 'Помощь всей команды',
                text: 'Вам не придётся самостоятельно плавать в океане знаний и документов. Каждый сотрудник объяснит, научит и подскажет.',
            },
        ],
        href: '#',
        linkText: 'Узнать больше о Veta',
        workListTiitle: "3 направления стажировки",
        workList: [
            {
                text: 'для экономистов (ФЭЭ и оценка);'
            },
            {
                text: 'для студентов строительных специальностей (СТЭ);'
            },
            {
                text: 'для IT-стажеров в ВЕТА ИТ.'
            },
        ]
    })
    +career({
        title: 'Карьерная лестница',
        text: 'Вы можете пройти путь от стажёра до специалиста ТОП уровня за 3–5 лет. Компания не ограничивает ваш путь.',
        items: [
            {
                title: 'Главный эксперт',
                text: 'от 3 лет',
                blue: true,
                icons: [
                    {
                        src: './images/icons/books/book-cyan-1.png'
                    }
                ]
            },
            {
                title: 'Ведущий эксперт',
                text: 'от 2 лет',
                icons: [
                    {
                        src: './images/icons/books/book-blue-1.png'
                    },
                    {
                        src: './images/icons/books/book-red-1.png'
                    },
                ]
            },
            {
                title: 'Эксперт',
                text: 'от 2 лет',
                icons: [
                    {
                        src: './images/icons/books/book-blue-2.png'
                    },
                    {
                        src: './images/icons/books/book-red-2.png'
                    },
                    {
                        src: './images/icons/books/book-blue-3.png'
                    },
                ]
            },
            {
                title: 'Ведущий специалист',
                text: 'от 2 лет',
                icons: [
                    {
                        src: './images/icons/books/book-red-3.png'
                    },
                    {
                        src: './images/icons/books/book-blue-4.png'
                    },
                    {
                        src: './images/icons/books/book-blue-5.png'
                    },
                    {
                        src: './images/icons/books/book-blue-6.png'
                    },
                ]
            },
            {
                title: 'Специалист',
                text: 'от 1 года до 2 лет',
                icons: [
                    {
                        src: './images/icons/books/book-blue-7.png'
                    },
                    {
                        src: './images/icons/books/book-blue-8.png'
                    },
                    {
                        src: './images/icons/books/book-blue-9.png'
                    },
                    {
                        src: './images/icons/books/book-red-4.png'
                    },
                    {
                        src: './images/icons/books/book-blue-10.png'
                    },
                ]
            },
            {
                title: 'Помощник',
                text: 'от 6 месяцев',
                icons: [
                    {
                        src: './images/icons/books/book-blue-11.png'
                    },
                    {
                        src: './images/icons/books/book-red-5.png'
                    },
                    {
                        src: './images/icons/books/book-blue-12.png'
                    },
                    {
                        src: './images/icons/books/book-blue-13.png'
                    },
                    {
                        src: './images/icons/books/book-blue-14.png'
                    },
                    {
                        src: './images/icons/books/book-blue-15.png'
                    },
                ]
            },
            {
                title: 'Интерн',
                text: 'до 4 месяцев',
                icons: [
                    {
                        src: './images/icons/books/book-cyan-2.png'
                    },
                    {
                        src: './images/icons/books/book-blue-16.png'
                    },
                    {
                        src: './images/icons/books/book-blue-17.png'
                    },
                    {
                        src: './images/icons/books/book-red-6.png'
                    },
                    {
                        src: './images/icons/books/book-blue-18.png'
                    },
                    {
                        src: './images/icons/books/book-cyan-3.png'
                    },
                    {
                        src: './images/icons/books/book-black-1.png'
                    },
                ]
            },
            {
                title: 'Стажер',
                text: 'до 2 месяцев',
                icons: [
                    {
                        src: './images/icons/books/book-blue-19.png'
                    },
                    {
                        src: './images/icons/books/book-blue-13.png'
                    },
                    {
                        src: './images/icons/books/book-red-7.png'
                    },
                    {
                        src: './images/icons/books/book-blue-15.png'
                    },
                    {
                        src: './images/icons/books/book-black-2.png'
                    },
                    {
                        src: './images/icons/books/book-cyan-4.png'
                    },
                    {
                        src: './images/icons/books/book-red-5.png'
                    },
                    {
                        src: './images/icons/books/book-blue-14.png'
                    },
                ]
            },
        ],
        max: true
    })
    +training({
        title: 'Как пройдет первый день',
        items: [
            {
                text: 'Подпишем официальные документы по трудоустройству, выдадим технику, покажем офис.'
            },
            {
                text: 'Начнём специализированное обучение для стажёров от экспертов компании, продолжительность 2 месяца.'
            },
            {
                text: 'Представим вас коллективу. Узнаете направления работы сотрудников, чтобы знать к кому обратиться за помощью.'
            },
            {
                text: 'Наметим план стажировки и составим рабочее расписание.'
            },
        ]
    })
    +history({
        title: 'История успеха',
        items: [
            {
                src: './images/person-one.jpg',
                name: 'Кротов Георгий',
                post: 'Ведущий специалист',
                description: 'После окончания ВУЗа я решил, что необходимо получать профессиональный опыт и устроился на стажировку в отдел финансово-экономической экспертизы Veta. Через некоторое время руководство оценило меня по достоинству и повысило до помощника эксперта. В настоящее время я уже сам помогаю стажёрам адаптироваться в компании и делюсь своим опытом.',
            },
            {
                src: './images/person-two.jpg',
                name: 'Евгений Ксенофонтов',
                post: '',
                description: 'Время обучения прошло шикарно и незаметно! Стажировка началась со знакомства с компанией. Корпоративная культура, направления деятельности, основные принципы, порядок работы с документами — азы работы. Параллельно я выполнял тестовые задания на закрепление материала, что значительно в дальнейшем облегчило выполнение производственных задач. На протяжении обучения выполнял учебную экспертизу, которая сочетает в себе блоки финансово-экономической и оценочной экспертизы. Если у меня что‑то не получалось, наставники были на связи и всегда готовы прийти на помощь!',
            },
            {
                src: './images/person-one.jpg',
                name: 'Кротов Георгий',
                post: 'Ведущий специалист',
                description: 'После окончания ВУЗа я решил, что необходимо получать профессиональный опыт и устроился на стажировку в отдел финансово-экономической экспертизы Veta. Через некоторое время руководство оценило меня по достоинству и повысило до помощника эксперта. В настоящее время я уже сам помогаю стажёрам адаптироваться в компании и делюсь своим опытом.',
            },
            {
                src: './images/person-two.jpg',
                name: 'Евгений Ксенофонтов',
                post: '',
                description: 'Время обучения прошло шикарно и незаметно! Стажировка началась со знакомства с компанией. Корпоративная культура, направления деятельности, основные принципы, порядок работы с документами — азы работы. Параллельно я выполнял тестовые задания на закрепление материала, что значительно в дальнейшем облегчило выполнение производственных задач. На протяжении обучения выполнял учебную экспертизу, которая сочетает в себе блоки финансово-экономической и оценочной экспертизы. Если у меня что‑то не получалось, наставники были на связи и всегда готовы прийти на помощь!',
            },
        ]
    }).section_blue
    +vacancy({
        title: 'Открытые вакансии',
        items: [
            {
                title: 'Стажёр',
                text: 'Ищем студентов, которые думают о профессиональной карьере уже на старших курсах и хотят найти применение своим способностям. С нами вы можете попасть в «высшую лигу» прямо со студенческой скамьи',
                href: '#',
                linkText: 'Полная вакансия',
            },
            {
                title: 'Стажёр-экономист',
                text: 'Ищем студентов, которые думают о профессиональной карьере уже на старших курсах и хотят найти применение своим способностям. С нами вы можете попасть в «высшую лигу» прямо со студенческой скамьи',
                href: '#',
                linkText: 'Полная вакансия',
            },
            {
                title: 'Подработка для студентов от 1 курса',
                text: 'Ищем студентов, которые думают о профессиональной карьере уже на старших курсах и хотят найти применение своим способностям. своим способностям. ',
                href: '#',
                linkText: 'Полная вакансия',
            },
            {
                title: 'IT-стажёр',
                text: 'Ищем студентов, которые думают о профессиональной карьере уже на старших курсах и хотят найти применение своим способностям. С нами вы можете попасть в «высшую лигу» прямо со студенческой скамьи ',
                href: '#',
                linkText: 'Полная вакансия',
            },
        ]
    })
    +poster({
        src: './images/globe.png',
        title: 'Узнай как проходит обучение в экспертной группе Veta',
        href: '#',
        linkText: 'Читать',
    })
    +request-form({
        title: 'Расскажите о себе',
        items: [
                {
                    type: 'text',
                    name: 'name',
                    placeholder: 'Как вас зовут'
                },
                {
                    type: 'tel',
                    name: 'phone',
                    placeholder: 'Ваш телефон'
                },
                {
                    type: 'email',
                    name: 'email',
                    placeholder: 'Ваш email'
                },
            ],
            selectTitle: 'Кто вы',
            options: [
                {
                    value: 'Студент'
                },
                {
                    value: 'Профессионал'
                }
            ],
            textareaPlaceholder: 'О себе',
            checkboxText: 'Соглашаюсь на <a href="#">обработку персональных данных</a>',
            buttonText: 'Отправить',
    })