extends base/_layout
block head
    title Стажировка
block page
    +vacancy({
        title: 'Открытые вакансии',
        items: [
            {
                title: 'Стажёр',
                text: 'Ищем студентов, которые думают о профессиональной карьере уже на старших курсах и хотят найти применение своим способностям. С нами вы можете попасть в «высшую лигу» прямо со студенческой скамьи',
                href: '#',
                linkText: 'Полная вакансия',
            },
            {
                title: 'Стажёр-экономист',
                text: 'Ищем студентов, которые думают о профессиональной карьере уже на старших курсах и хотят найти применение своим способностям. С нами вы можете попасть в «высшую лигу» прямо со студенческой скамьи',
                href: '#',
                linkText: 'Полная вакансия',
            },
            {
                title: 'Подработка для студентов от 1 курса',
                text: 'Ищем студентов, которые думают о профессиональной карьере уже на старших курсах и хотят найти применение своим способностям. своим способностям. ',
                href: '#',
                linkText: 'Полная вакансия',
            },
            {
                title: 'IT-стажёр',
                text: 'Ищем студентов, которые думают о профессиональной карьере уже на старших курсах и хотят найти применение своим способностям. С нами вы можете попасть в «высшую лигу» прямо со студенческой скамьи ',
                href: '#',
                linkText: 'Полная вакансия',
            },
        ]
    })
    +request-form({
        title: 'Расскажите о себе',
        items: [
                {
                    type: 'text',
                    name: 'name',
                    placeholder: 'Как вас зовут'
                },
                {
                    type: 'tel',
                    name: 'phone',
                    placeholder: 'Ваш телефон'
                },
                {
                    type: 'email',
                    name: 'email',
                    placeholder: 'Ваш email'
                },
            ],
            selectTitle: 'Кто вы',
            options: [
                {
                    value: 'Студент'
                },
                {
                    value: 'Профессионал'
                }
            ],
            textareaPlaceholder: 'О себе',
            checkboxText: 'Соглашаюсь на <a href="#">обработку персональных данных</a>',
            buttonText: 'Отправить',
    })