extends base/_layout
block head
    title Работа
block page
    +hero({
        title: 'Стажировка в Veta —первый шаг в карьере под чутким руководством',
        text: 'Оплачиваемая стажировка для студентов экономических, юридических и технических специальностей. Только закончили институт или аспирантуру? Вы нам тоже подходите!',
        href: '#',
        linkText: 'Построить карьеру',
        src: './images/wolf-three.png'
    })
    +work-in-group({
        title: 'Ускорьте <br>профессиональный рост',
        description: 'Профессиональный рост достигается не одной работой в суде. Он складывается из развития собственных компетенций, повышения своей экспертизы и общения с другими специалистами. Мы знаем об этом, поэтому помогаем своим сотрудникам всесторонне развиваться.',
        items: [
            {
                title: 'Проводите исследования',
                text: 'Мы собираем данные по рынку юридических услуг и анализируем их. Такие исследования помогают коллегам по всей стране.',
            },
            {
                title: 'Разрабатывайте методические рекомендации',
                text: 'Соберите для себя и всей команды подробные инструкции для разных ситуаций, с которыми может столкнуться эксперт. Так вы структурируете свои знания и поможете коллегам.',
            },
            {
                title: 'Создавайте экспертный имидж',
                text: 'На конференциях, вебинарах и семинарах вы получаете новые знания и опыт. На мероприятиях можно наладить контакты для будущих проектов.',
            },
            {
                title: 'Помогайте начинающим',
                text: 'Делитесь опытом со стажёрами и молодыми сотрудниками. Составляйте задания и оценивайте работы участников для олимпиад и конкурсов, которые мы проводим с партнёрами.',
            },
        ],
        href: '#',
        linkText: 'Узнать больше о Veta',
        blue: true
    }).section_alternate
    +poster({
        src: './images/coins.png',
        title: 'Посмотрите наши кейсы',
        text: 'Мы всегда честно рассказываем о нашей работе и интересных делах. Узнайте, сколько миллиардов помогли отстоять и вернуть наши эксперты.',
        href: '#',
        linkText: 'Покопаться в деньгах',
    }).section_blue.section_alternate
    +work-in-group({
        title: 'Что мы гарантируем',
        items: [
            {
                icon: 'star',
                title: 'Профессиональный рост',
                text: 'Обучаем сотрудников, оплачиваем курсы повышения квалификации. Организовываем и принимаем участие в конференциях, семинарах и вебинарах, спикерами которых можете стать вы.',
            },
            {
                icon: 'hands',
                title: 'Поддержку и мотивацию',
                text: 'За успешные результаты и вклад в общее дело выплачиваются премии. Если найдёте сторонние курсы, которые расширят ваши профессиональные компетенции, мы их оплатим.',
            },
            {
                icon: 'like',
                title: 'Гибкий рабочий график',
                text: 'Вы можете работать откуда удобно. Главное — уметь организовать своё время, укладываться в дедлайны и быть на связи.',
            },
            {
                icon: 'money',
                title: 'Официальную «белую» зарплату',
                text: 'Мы ценим ваш труд и предоставляем все гарантии официального трудоустройства по Трудовому кодексу.',
            },
        ],
        href: '#',
        linkText: 'Узнать больше о Veta',
        blue: true
    })
    +expert({
        title: 'Эксперт Veta — это:',
        items: [
            {
                title: 'Честность и беспристрастность',
                text: 'Что бы ни говорил клиент и чего бы ни хотел судья, главное — это буква Закона.',
            },
            {
                title: 'Коммуникативность и энергичность',
                text: 'Участие в конференциях, семинарах, вебинарах и общественных мероприятиях — залог личного и профессионального роста.',
            },
            {
                title: 'Точность и внимательность',
                text: 'Ошибки случаются. Но с экспертами Veta это происходит редко, потому что все письма, документы и отчёты мы проверяем несколько раз.',
            },
            {
                title: 'Отзывчивость и человечность',
                text: 'Общение с клиентом не заканчивается после сдачи отчётов и документации. Поддержание отношений до окончания судебного разбирательства и после него — наш конёк.',
            },
        ]
    })
    +career({
        title: 'Карьерная лестница',
        items: [
            {
                title: 'Главный эксперт',
                text: 'от 3 лет',
                blue: true,
                icons: [
                    {
                        src: './images/icons/books/book-cyan-1.png'
                    }
                ]
            },
            {
                title: 'Ведущий эксперт',
                text: 'от 2 лет',
                icons: [
                    {
                        src: './images/icons/books/book-blue-1.png'
                    },
                    {
                        src: './images/icons/books/book-red-1.png'
                    },
                ]
            },
            {
                title: 'Эксперт',
                text: 'от 2 лет',
                icons: [
                    {
                        src: './images/icons/books/book-blue-2.png'
                    },
                    {
                        src: './images/icons/books/book-red-2.png'
                    },
                    {
                        src: './images/icons/books/book-blue-3.png'
                    },
                ]
            },
            {
                title: 'Ведущий специалист',
                text: 'от 2 лет',
                icons: [
                    {
                        src: './images/icons/books/book-red-3.png'
                    },
                    {
                        src: './images/icons/books/book-blue-4.png'
                    },
                    {
                        src: './images/icons/books/book-blue-5.png'
                    },
                    {
                        src: './images/icons/books/book-blue-6.png'
                    },
                ]
            },
        ]
    })
    +history({
        title: 'История успеха',
        items: [
            {
                src: './images/person-three.jpg',
                name: 'Егорова Оксана',
                post: 'Ведущий специалист',
                description: '.В Veta совершенно особая атмосфера — мне нравится, что у нас много интересных задач, которые заставляют нас расти вместе с компанией, а компанию — вместе с нами. Для нас это уже не работа, а образ жизни — мы с коллегами дружим, встречаемся вне работы, мыслим схоже и понимаем друг друга с полуслова. Несмотря на то, что коллектив уже достаточно большой, все друг друга знают, поддерживают и помогают. Это тот случай, когда даже если тебе предложат большую зарплату в другой компании, ты задумаешься — стоит ли терять этих людей.',
            },
            {

            },
        ]
    })
    +vacancy({
        title: 'Открытые вакансии',
        items: [
            {
                title: 'Стажёр',
                text: 'Ищем студентов, которые думают о профессиональной карьере уже на старших курсах и хотят найти применение своим способностям. С нами вы можете попасть в «высшую лигу» прямо со студенческой скамьи',
                href: '#',
                linkText: 'Полная вакансия',
            },
            {
                title: 'Стажёр-экономист',
                text: 'Ищем студентов, которые думают о профессиональной карьере уже на старших курсах и хотят найти применение своим способностям. С нами вы можете попасть в «высшую лигу» прямо со студенческой скамьи',
                href: '#',
                linkText: 'Полная вакансия',
            },
            {
                title: 'Подработка для студентов от 1 курса',
                text: 'Ищем студентов, которые думают о профессиональной карьере уже на старших курсах и хотят найти применение своим способностям. своим способностям. ',
                href: '#',
                linkText: 'Полная вакансия',
            },
        ],
        gray: true
    }).section_blue.section_alternate
    +poster({
        src: './images/wolf-poster.png',
        title: 'Аналитический департамент экспертной группы Veta',
        text: 'Проводим экономические исследования, которые помогают разрешать банкротные и антимонопольные судебные споры',
        href: '#',
        linkText: 'Перейти',
        blue: true,
        reverse: true
    }).section_blue
    +request-form({
        title: 'Расскажите о себе',
        items: [
                {
                    type: 'text',
                    name: 'name',
                    placeholder: 'Как вас зовут'
                },
                {
                    type: 'tel',
                    name: 'phone',
                    placeholder: 'Ваш телефон'
                },
                {
                    type: 'email',
                    name: 'email',
                    placeholder: 'Ваш email'
                },
            ],
            selectTitle: 'Кто вы',
            options: [
                {
                    value: 'Студент'
                },
                {
                    value: 'Профессионал'
                }
            ],
            textareaPlaceholder: 'О себе',
            checkboxText: 'Соглашаюсь на <a href="#">обработку персональных данных</a>',
            buttonText: 'Отправить',
    })