mixin career(obj = {})
    -
        obj = {
            tag: 'section',
            title: '',
            text: '',
            items: [
                {
                    title: '',
                    text: '',
                    icons: [
                        {
                            src: '',
                        }
                    ]
                }
            ],
            max: false,
            ...obj
        }
    #{obj.tag}.career.section.section_blue&attributes(attributes)
        .container
            +title({
                title: obj.title
            }).important__title
            +career-list({
                text: obj.text,
                items: obj.items,
                max: obj.max
            }).career__list