mixin work-in-group(obj = {})
    -
        obj = {
            tag: 'section',
            title: '',
            description: [
                {
                    text: ''
                }
            ],
            text: '',
            items: [
                {
                    icon: '',
                    title: '',
                    text: '',
                }
            ],
            href: '',
            linkText: '',
            blue: false,
            workListTiitle: '',
            workList: [
                {
                    text: ''
                }
            ],
            ...obj
        }
    #{obj.tag}.work-in-group.section(
        class=(obj.blue ? 'section_blue' : false)
    )&attributes(attributes)
        .container
            +title({
                title: obj.title
            }).work-in-group__title
            if obj.description
                .work-in-group__description-box
                    each item in obj.description
                        +text({
                            text: item.text
                        }).work-in-group__description
            +ui-list({
                items: obj.items
            }).work-in-group__list(
                class=(obj.description ? 'work-in-group__list_text' : false)
            )
            if obj.workListTiitle
                .work-in-group__check-list-box
                    +check-list({
                        title: obj.workListTiitle,
                        items: obj.workList
                    }).work-in-group__check-list
            if obj.text
                +text({
                    text: obj.text,
                    description: true
                }).work-in-group__text
            if obj.linkText
                +button({
                    tag: 'a',
                    href: obj.href,
                    text: obj.linkText,
                    blue: true
                }).work-in-group__button