.work-in-group
    &__title
        max-width: 756px
        width: 100%
    &__description
        max-width: 617px
        width: 100%
        line-height: 150%
        &:not(:first-child)
            margin-top: 10px
        &-box
            margin-top: 42px
    &__list
        margin-top: 60px
        &_text
            margin-top: 39px
        @media (max-width: $sm)
            margin-top: 30px
    &__check-list
        .title
            font-size: 20px
        &-box
            padding: 37px 37px 65px 57px
            border-radius: 20px
            background-color: var(--blue-bg)
            margin-top: 43px
            display: inline-block
            @media (max-width: $sm)
                padding: 30px
    &__text
        margin-top: 43px
        max-width: 617px
        width: 100%
        line-height: 150%
    &__button
        margin-top: 48px