.card
    background: var(--dark-blue-bg) radial-gradient(49.88% 49.89% at 51.52% 52.91%, rgb(235, 237, 245) 39.58333432674408%, rgb(230, 233, 242) 100%)
    padding: 45px 53px 56px
    max-width: 600px
    width: 100%
    border-radius: 20px
    position: relative
    z-index: 1
    &__text
        margin-top: 24px
        max-width: 265px
        width: 100%
    &__button
        margin-top: 80px
    &__link
        margin-top: 80px
    &__picture
        display: block
        width: 247px
        height: 247px
        position: absolute
        bottom: 22px
        right: 32px
        z-index: -1
.card-list
    display: flex
    gap: 24px