.title
    font-weight: 700
    font-size: 52px
    color: var(--blue)
    &_big
        font-size: 54px
    &_min
        font-size: 28px
        color: var(--alternate-blue)
    &_white
        color: var(--white-text)