.ui-list
    display: grid
    grid-template-columns: repeat(2, 1fr)
    gap: 46px 116px
    @media (max-width: $lg)
        gap: 46px
    @media (max-width: $md)
        gap: 24px
        grid-template-columns: 1fr
    @media (max-width: $sm)

    &__item
        max-width: 508px
        width: 100%
        &_flex
            display: flex
            gap: 30px
        &-icon
            width: 82px
            height: 82px
            border-radius: 50%
            background-color: var(--blue)
            display: flex
            align-items: center
            justify-content: center
            flex: none
            @media (max-width: $lg)
                width: 62px
                height: 62px
                .icon
                    width: 32px
            @media (max-width: $sm)
                width: 42px
                height: 42px
                .icon
                    width: 22px
        &-content
            .title
                font-size: 20px
                font-weight: 600
                color: var(--dark-gray)
                @media (max-width: $sm)
                    font-size: 16px
            .text
                margin-top: 10px
                line-height: 144%
                @media (max-width: $sm)
                    font-size: 12px
